/* Lead */
.lead__title {
  margin: 0 0 32px;
  padding: 0;
  max-width: 720px;
  min-height: 200px;
  font-size: 96px;
  line-height: 1.04;
  font-weight: 900;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .lead__title {
    margin-bottom: 4.17vw;
    min-width: 288px;
    min-height: 88px;
    font-size: 12.5vw;
    line-height: 13vw;
  }
}

@media screen and (max-width: 320px) {
  .lead__title {
    margin-bottom: 16px;
    font-size: 40px;
    line-height: 1.1;
  }
} 