/* Lead */
.lead__title {
  margin: 0 0 32px;
  padding: 0;
  max-width: 720px;
  min-height: 200px;
  font-size: 96px;
  line-height: 1.04;
  font-weight: 900;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .lead__title {
    min-width: 288px;
    min-height: 88px;
    font-size: 78px;
    line-height: 1.06;
    white-space: pre-line;
  }
}

@media screen and (max-width: 610px) {
  .lead__title {
    font-size: 56px;
    line-height: 1.08;
  }
}

@media screen and (max-width: 480px) {
  .lead__title {
    margin: 0 0 16px;
    font-size: 40px;
    line-height: 1.1;
  }
}