/* Place */
.place__website {
  margin: 0;
  padding: 0;
  min-width: 456px;
  min-height: 46px;
  width: 100%;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  justify-self: stretch;
  align-self: end;
}

@media screen and (max-width: 1023px) {
  .place__website {
    min-width: 352px;
  }
}

@media screen and (max-width: 767px) {
  .place__website {
    margin: 0 auto;
    max-width: 690px;
    min-width: 288px;
    width: 90%;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
}