/* Lead */
.lead__subtitle {
  margin: 0 0 56px;
  padding: 0;
  max-width: 640px;
  min-height: 72px;
  font-size: 30px;
  line-height: 1.2;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .lead__subtitle {
    margin-bottom: 7.29vw;
    max-width: 640px;
    min-width: 288px;
    width: 80%;
    min-height: 40px;
    font-size: 3.91vw;
    line-height: 4.69vw;
  }
}

@media screen and (max-width: 549px) {
  .lead__subtitle {
    margin-bottom: 40px;
  } 
  
}

@media screen and (max-width: 400px) {
  .lead__subtitle {
    font-size: 16px;
    line-height: 1.24;
  }
}