/* Footer */
.footer__links {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 18px;
}

@media screen and (max-width: 745px) {
  .footer__links {
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
  }
}