/* Header */
.header {
  margin: 0 auto;
  padding: 20px 0 0;
  max-width: 1184px;
  min-height: 52px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;

}

@media screen and (max-width: 1279px) {
  .header {
    max-width: 1183px;
    min-width: 984px;
    width: 93%;
  }
}

@media screen and (max-width: 1086px) {
  .header {
    max-width: 983px;
    min-width: 928px;
    width: 90.63%;
  }
}

@media screen and (max-width: 1023px) {
  .header {
    max-width: 927px;
    min-width: 720px;
  }
}

@media screen and (max-width: 767px) {
  .header {
    padding-top: 16px;
    max-width: 719px;
    min-width: 288px;
    width: 90%;
    min-height: 42px;
  }
}