/* Cover */
.cover {
  margin: 0 auto;
  padding: 0 0 92px;
  max-width: 1184px;
  min-height: 740px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

@media screen and (max-width: 1184px) {
  .cover {
    max-width: 1184px;
    min-width: 320px;
    width: 100%;
    min-height: calc(100vw / 1.6);
  }
}

@media screen and (max-width: 1023px) {
  .cover {
    padding-bottom: 88px;
  }
}

@media screen and (max-width: 767px) {
  .cover {
    padding-bottom: 64px;
  }
}

@media screen and (max-width: 320px) {
  .cover {
    width: 320px;
    min-height: 200px;
  }
}