/* Intro */
.intro__box {
  margin-right: auto;
  padding: 0;
  max-width: 690px;
  width: 100%;
}

@media screen and (max-width: 1023px) {
  .intro__box {
    margin: 0 auto;
    max-width: 720px;
    min-width: 288px;
  }
}

@media screen and (max-width: 320px) {
  .intro__box {
    width: 90%;
  }
}
