/* Cover */
.cover__item {
  width: 100%;
  min-height: 740px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../../../images/cover/__item/cover-trains.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-decoration: none;
  color: #fff;
  position: relative;
  z-index: 0;
}

.cover__item::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2A2C2F;
  opacity: .3;
  z-index: -1;
  transition: opacity 180ms linear 2ms;
}

.cover__item:hover::before {
  opacity: .8;
}

@media screen and (max-width: 1184px) {
  .cover__item {
    max-width: 1184px;
    min-width: 320px;
    min-height: calc(100vw / 1.6);
  }
}

@media screen and (max-width: 320px) {
  .cover__item {
    width: 320px;
    min-height: 200px;
  }
}