/* Lead */
.lead {
  margin: 0 auto;
  padding: 0 0 92px;
  max-width: 984px;
  min-width: 320px;
  width: 100%;
  max-height: 1005px;
  min-height: 406px;
}

@media screen and (max-width: 1024px) {
  .lead {
    padding-bottom: 88px;
    max-width: 928px;
  }
}

@media screen and (max-width: 767px) {
  .lead {
    padding-bottom: 64px;
  }
}