/* Lead */
.lead {
  margin: 0 auto;
  padding: 0;
  width: 984px;
  width: 100%;
}


@media screen and (max-width: 1279px) {
  .lead {
    max-width: 983px;
    min-width: 928px;
    width: 90.63%;
  }
}

@media screen and (max-width: 1023px) {
  .lead {
    max-width: 927px;
    min-width: 768px;
  }
}

@media screen and (max-width: 767px) {
  .lead {
    max-width: 767px;
    min-width: 320px;
    width: 100%;
  }
}