/* Place */
.place__image {
  margin: 0;
  min-width: 460px;
  min-height: 460px;
  width: 100%;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

@media screen and (max-width: 1279px) {
  .place__image {
    min-width: 440px;
    min-height: 440px;
  }
}

@media screen and (max-width: 1023px) {
  .place__image {
    min-width: 340px;
    min-height: 340px;
  }
}

@media screen and (max-width: 767px) {
  .place__image {
    min-width: 320px;
    min-height: 320px;
    grid-row: 3 / 4;
  }
}