/* Intro */
.intro {
  margin: 0 auto;
  padding: 0;
  max-width: 984px;
  min-height: 429px;
  width: 76.88%;
  display: flex;
}

@media screen and (max-width: 1279px) {
  .intro {
    min-width: 928px;
    width: 90.63%;
  }
}

@media screen and (max-width: 1023px) {
  .intro {
    min-width: 768px;
  }
}

@media screen and (max-width: 767px) {
  .intro {
    min-width: 320px;
    min-height: 406px;
  }
}