/* Header */
.header__lang-link {
  margin: 0;
  padding: 0;
  grid-column: -3 / -2, -2 / -1;
  grid-row: 1 / 2;
  font-size: 24px;
  line-height: 1.17;
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
  color: #fff;
  opacity: 1;
  transition: opacity 180ms linear 2ms;
}

.header__lang-link:hover {
  opacity: .8;
}

@media screen and (max-width: 767px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 1.11;
  }
}