/* Place */
.place__title {
  margin: 0;
  padding: 0;
  max-width: 460px;
  min-height: 76px;
  width: 100%;
  font-size: 72px;
  font-weight: 900;
  line-height: 1.06;
  text-align: left;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  justify-self: start;
  align-self: end;
}

@media screen and (max-width: 1279px) {
  .place__title {
    max-width: 459px;
    min-width: 440px;
  }
}

@media screen and (max-width: 1023px) {
  .place__title {
    max-width: 439px;
    min-width: 340px;
    min-height: 46px;
    font-size: 5.47vw;
    line-height: 5.96vw;
  }
}

@media screen and (max-width: 767px) {
  .place__title {
    margin: 0 auto;
    max-width: 690px;
    min-width: 288px;
    min-height: 35px;
    font-size: 32px;
    line-height: 1.09;
    width: 90%;
  }
}
