/* Place */
.place__title {
  margin: 0;
  padding: 0;
  max-width: 460px;
  min-height: 76px;
  font-size: 72px;
  font-weight: 900;
  line-height: 1.06;
  text-align: left;
  grid-column: 1/2;
  grid-row: 1/2;
  justify-self: stretch;
  align-self: end;
}

@media screen and (max-width: 1279px) {
  .place__title {
    min-width: 440px;
  }
}

@media screen and (max-width: 1023px) {
  .place__title {
    min-width: 340px;
    min-height: 46px;
    font-size: 42px;
    line-height: 1.09;
  }
}

@media screen and (max-width: 767px) {
  .place__title {
    min-width: 288px;
    min-height: 35px;
    font-size: 32px;
    line-height: 1.09;
    grid-row: 1/2;
  }
}