/* External margins for sections */
.page__place_margin_bottom {
  margin-bottom: 80px;
}

@media screen and (max-width: 1023px) {
  .page__place_margin_bottom {
    margin-bottom: 73px;
  }
}

@media screen and (max-width: 767px) {
  .page__place_margin_bottom {
    margin-bottom: 50px;
  }
}